BrainGB/
Data/
.DS_Store
data_abide_cc200/
data_abide_aal/
data_abide_ho/
data_favour/
data_sherlock/
datasets/
misc_data/
PPMI_small_xGW-GAT/
xGW-GAT/
xGW-GAT_forked/
u/
xGW-GAT_ppmi/
xGW-GAT_ppmi copy/
personal_access.txt
*.pyc
*.ipynb_checkpoints/
sherlock_interactive.txt
RAW_PPMI/
processed/
nifti_series/
nilearn_cache/
tmp_dcm2bids/
comparison_data/
learning-from-brains-master
*.pptx
difumo_results/
data_abide_difumo/