BrainGB/
Data/
.DS_Store
data_abide/
data_abide_aal/
data_abide_ho/
data_favour/
data_sherlock/
datasets/
misc_data/
PPMI_small_xGW-GAT/
utils/
xGW-GAT/
xGW-GAT_ppmi/
xGW-GAT_ppmi copy/
personal_access.txt

